{{ ansible_managed | comment (decoration="Comment: ")}}

Name: faillock
Default: yes
Priority: 0

Auth-Type: Primary
Auth:
	[default=die]			pam_faillock.so authfail
	sufficient			pam_faillock.so authsucc

Account-Type: Additional
Account:
	required			pam_faillock.so

